

<div class="col-xm-12">
  <div class="form-inline">
     <%= form_with(model: local_purchasing_order, local: true, bootstrap: {class: "form-inline"} ) do |form| %>
      <% if local_purchasing_order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(local_purchasing_order.errors.count, "error") %> prohibited this local_purchasing_order from being saved:</h2>
    
          <ul>
          <% local_purchasing_order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      
       
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header">Send Your Order <small class="pull-right"></small></h3>
        </div>
    </div>    
    


<div class="row invoice-info">
    <div class="col-xs-4 invoice-col">
        From (Your Details)
        <address>
             <%= form.text_field :name,  class:"form-control", id:"validationTooltip05", placeholder: "Your Full Name" %>
            <input class="form-control" placeholder="address line 1" />
            <input class="form-control" placeholder="address line 2" />
            <input class="form-control" placeholder="address line 3" />
        </address>
    </div>
    <div class="col-xs-4 invoice-col">
        Delivered To
        <address>
             <%= form.text_field :contragent,  class:"form-control", id:"validationTooltip05", placeholder: "Full Name" %>
            <input class="form-control" placeholder="address line 1" />
            <input class="form-control" placeholder="address line 2" />
            <input class="form-control" placeholder="address line 3" />
        </address>
    </div>
    <div class="col-xs-4 invoice-col">
  <div class="form-inline">
    <div class="form-group">
      <div class="col-md-12">
      <div class="col-md-4">7</div>
      <div class="col-md-8 invoice_mum">Invoice Number</div>
      <div class="col-md-8 invoice_mum"><span id="invoice_number"></span></div>
      </div>
      <div class="field"><%= form.label :date %></div><br>
      <div class="col-md-8 invoice_mum"><%= form.text_field :date,  data_provide: 'datepicker', class: 'form-control datepicker',  as: :string %></div>
      
      <div class="field"><%= form.label :amount %></div><br>
      <div class="col-md-8 invoice_mum"><%= form.text_field :amount,  class:"form-control", id:"validationTooltip05" %></div>
      
      
      <div><%= form.label :currency %></div><br>
      <div class="col-md-8 invoice_mum"><%= form.text_field :currency,  class:"form-control", id:"validationTooltip05"%></div>
     
    
    <div class="row">
      <div class="col-xs-12 pull-left">
        <%= form.submit "Submit Payment", class: ' btn btn-warning' %>    
      </div>
    </div>
    
  </div>
<% end %>
</div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

<script type="text/javascript">
$(document).ready(function{
  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd'
 });
});
</script>

<table table-bordered tabe-hover>
 
      <thead>
       <th class="item-name">Item</th>
       <th class="item-name">Description</th>
       <th class="item-name">Unit Cost</th>
       <th class="item-name">Quantity</th>
       <th class="item-name">Price</th>
       <th class="item-name">Action</th>
     </thead>
    
    <tbody>
      <tr class="item-row">
        <td><input class="form-control item_name" value="Item #1"/></td>
        <td><input class="form-control item_desc" value="Description"/></td>
        <td><input class="form-control cost" value="650.00"/></td>
        <td><input class="form-control qty" value="1"/></td>
        <td class="price_td"><span class="price">650.00</span> <span class="subtotal_currency"></span></td>
        <td class="delete_td"><a class="delete" href="javascript:;" title="Remove Row"><span class=ti-close""></span></a></td>
      </tr>
      
       <tr class="item-row">
        <td><input class="form-control item_name" value="Item #3"/></td>
        <td><input class="form-control item_desc" value="Description"/></td>
        <td><input class="form-control cost" value="75.00"/></td>
        <td><input class="form-control qty" value="3"/></td>
        <td class="price_td"><span class="price">225.00</span> <span class="subtotal_currency"></span></td>
        <td class="delete_td"><a class="delete" href="javascript:;" title="Remove Row"><span class=ti-close""></span></a></td>
      </tr>
      <tr id="hiderow">
        <td colspan="6"><a id="addrow" class"btn btn-success btn-sm" href=""</td>
      </tr>
    </tbody>



</div>
</div>
</div>





  <div class="col-md-12">
    

  <h5>Terms</h5>
  <textarea id="10">Payment terms: net 30. Interest accrued at 1.5% per month thereafter.</textarea>
</div>

  </div>  
</div>