<div class="container">
  <div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h3 class="panel-title">Your Orders</h3>
		    </div>

<div class="container">   
    <p id="notice"><%= notice %></p>
    
    <div class="">
      <p>
      <strong>Amount:</strong>
      <%= @local_purchasing_order.amount %>
    </p>
    </div>
    
    
    
    <div class="">
    <p>
      <strong>Name:</strong>
      <%= @local_purchasing_order.name %>
    </p>
    </div>
    
    <div class="">
    <p>
      <strong>Contragent:</strong>
      <%= @local_purchasing_order.contragent %>
    </p>
    </div>
    
    <div class="">
    <p>
      <strong>Currency:</strong>
      <%= @local_purchasing_order.currency %>
    </p>
    </div>
    
    <div class="">
    <p>
      <strong>Date:</strong>
      <%= @local_purchasing_order.date %>
    </p>
    </div>
    
    <%= link_to 'Edit', edit_local_purchasing_order_path(@local_purchasing_order), class: "btn btn-danger" %> |
    <%= link_to 'Back', local_purchasing_orders_path, class: "btn btn-primary" %>
    
</div>