<div class="container">
<h3 class="text-center">The Master Care Schools  <small>Akowonjo Santos Layout Lagos</small></h3>
<hr>
<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-6  py-0 pl-3 pr-1 featcard">
	   <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
 		 <div class="carousel-inner">
<div class="carousel-item active">			  <div class="card bg-dark text-white">
		        <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/review-gsp-amerika-ingin-perdagangan-yang-adil-dan-saling-menguntungkan-1531307731.jpg" alt="">
		        <div class="card-img-overlay d-flex linkfeat">
		          <a href="http://makro.id/review-gsp-amerika-ingin-perdagangan-saling-menguntungkan" class="align-self-end">
		        	<span class="badge">Ekspor</span> 
		            <h4 class="card-title">Review GSP: Amerika Ingin Perdagangan Saling Menguntungkan</h4>
		            <p class="textfeat" style="display: none;">makro.id – Duta Besar Amerika Serikat untuk Indonesia Joseph R. Donovan menegaskan, langkah pemerintah Amerika Serikat meninjau ulang pemberian Generalized System od Preferenes (GSP) akan menguntungkan kedua belah pihak.

Menurut Donovan,</p>
		          </a>
		        </div>
		      </div>
	  		</div>
	  	<div class="carousel-item">			  <div class="card bg-dark text-white">
		        <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/dpr-setujui-penambahan-anggaran-bp-batam-rp565-miliar-1531258457.jpeg" alt="">
		        <div class="card-img-overlay d-flex linkfeat">
		          <a href="http://makro.id/dpr-setujui-penambahan-anggaran-bp-batam-rp565-miliar" class="align-self-end">
		        	<span class="badge">Pertumbuhan Ekonomi</span> 
		            <h4 class="card-title">DPR Setujui Penambahan Anggaran BP Batam Rp565 Miliar</h4>
		            <p class="textfeat" style="display: none;">makro.id - Dewan Perwakilan Rakyat (DPR) menyetujui penambahan anggaran Badan Pengusahaan (BP) Batam Rp565 miliar. Dengan penambahan anggaran di tahun 2019 tersebut diharapkan dapat mendorong percepatan pembangunan Kota Batam.

Anggota Komisi</p>
		          </a>
		        </div>
		      </div>
	  		</div>
	  	<div class="carousel-item">			  <div class="card bg-dark text-white">
		        <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/btn-targetkan-seribu-nasabah-valas-di-batam-1531227805.jpeg" alt="">
		        <div class="card-img-overlay d-flex linkfeat">
		          <a href="http://makro.id/btn-targetkan-seribu-nasabah-valas-di-batam" class="align-self-end">
		        	<span class="badge">Perbankan</span> 
		            <h4 class="card-title">BTN Targetkan Seribu Nasabah Valas di Batam</h4>
		            <p class="textfeat" style="display: none;">makro.id - Bank Tabungan Negara (Persero) resmi merilis tabungan valuta asing (valas) di Batam. Sebagai daerah yang berbatasan langsung dengan Singapura dan sebagai pintu gerbang wisatawan mancanegara (wisman), transaksi valas</p>
		          </a>
		        </div>
		      </div>
	  		</div>
	  	<div class="carousel-item">			  <div class="card bg-dark text-white">
		        <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/sistem-oss-resmi-diluncurkan-1531225964.jpg" alt="">
		        <div class="card-img-overlay d-flex linkfeat">
		          <a href="http://makro.id/sistem-oss-resmi-diluncurkan" class="align-self-end">
		        	<span class="badge">Industri</span> 
		            <h4 class="card-title">Sistem OSS Resmi Diluncurkan</h4>
		            <p class="textfeat" style="display: none;">makro.id - Menteri Koordinator Bidang Perekonomian Darmin Nasution bersama dengan para menteri dan kepala lembaga terkait meresmikan penerapan Sistem Online Single Submission (OSS). 

Layanan Perizinan Berusaha Terintegrasi Secara Elektronik (PBTSE), yang</p>
		          </a>
		        </div>
		      </div>
	  		</div>
	  	<div class="carousel-item">			  <div class="card bg-dark text-white">
		        <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/grab-gandeng-samsung-telkomsel-dan-erafone-1531222875.JPG" alt="">
		        <div class="card-img-overlay d-flex linkfeat">
		          <a href="http://makro.id/grab-gandeng-samsung-telkomsel-dan-erafone" class="align-self-end">
		        	<span class="badge">Nusantara</span> 
		            <h4 class="card-title">Grab Gandeng Samsung, Telkomsel, dan Erafone</h4>
		            <p class="textfeat" style="display: none;">:: Luncurkan Program Ponsel Cerdas untuk Pengemudi

Batam - Grab menjalin kemitraan strategis dengan tiga perusahaan terkemuka di Indonesia yaitu Telkomsel, Samsung, dan Erafone terkait program kepemilikan ponsel cerdas khusus untuk</p>
		          </a>
		        </div>
		      </div>
	  		</div>
	  	<div class="carousel-item">			  <div class="card bg-dark text-white">
		        <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/paket-kebijakan-ekonomi-mempermudah-izin-investasi-1530819316.jpg" alt="">
		        <div class="card-img-overlay d-flex linkfeat">
		          <a href="http://makro.id/paket-kebijakan-ekonomi-mempermudah-izin-investasi" class="align-self-end">
		        	<span class="badge">Finansial</span> 
		            <h4 class="card-title">Paket Kebijakan Ekonomi Mempermudah Izin Investasi</h4>
		            <p class="textfeat" style="display: none;">makro.id– Paket kebijakan ekonomi dinilai dapat memberikan kemudahan dalam pengurusan perizinan berinvestasi dan memberikan efek yang cukup signifikan kepada investor.

Ketua Umum Himpunan Kawasan Industri (HKI) Sanny Iskandar menyatakan saat ini</p>
		          </a>
		        </div>
		      </div>
	  		</div>
	  		  	</div>
	  </div>
	</div>
	<div class="col-6 py-0 px-1 d-none d-lg-block">
		<div class="row">
			<div class="col-6 pb-2 mg-1	">
				<div class="card bg-dark text-white">
		        <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/bi-atur-standarisasi-qr-code-1529952479.jpg" alt="">
		        <div class="card-img-overlay d-flex">
		          <a href="http://makro.id/bi-atur-standarisasi-qr-code" class="align-self-end">
		        	<span class="badge">Finansial</span> 
		            <h6 class="card-title">BI Atur Standarisasi QR Code</h6>
		          </a>
		        </div>
		      	</div>
			</div>
						<div class="col-6 pb-2 mg-2	">
				<div class="card bg-dark text-white">
		        <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/ptsp-bp-batam-masuk-10-terbaik-di-indonesia-1531400445.jpeg" alt="">
		        <div class="card-img-overlay d-flex">
		          <a href="http://makro.id/ptsp-bp-batam-masuk-10-terbaik-di-indonesia" class="align-self-end">
		        	<span class="badge">Industri</span> 
		            <h6 class="card-title">PTSP BP Batam Masuk 10 Terbaik di Indonesia</h6>
		          </a>
		        </div>
		      	</div>
			</div>
						<div class="col-6 pb-2 mg-3	">
				<div class="card bg-dark text-white">
		        <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/review-gsp-amerika-ingin-perdagangan-yang-adil-dan-saling-menguntungkan-1531307731.jpg" alt="">
		        <div class="card-img-overlay d-flex">
		          <a href="http://makro.id/review-gsp-amerika-ingin-perdagangan-saling-menguntungkan" class="align-self-end">
		        	<span class="badge">Ekspor</span> 
		            <h6 class="card-title">Review GSP: Amerika Ingin Perdagangan Saling Menguntungkan</h6>
		          </a>
		        </div>
		      	</div>
			</div>
						<div class="col-6 pb-2 mg-4	">
				<div class="card bg-dark text-white">
		        <img class="card-img img-fluid" src="http://admin.makro.id/media/post_img_sm/dpr-setujui-penambahan-anggaran-bp-batam-rp565-miliar-1531258457.jpeg" alt="">
		        <div class="card-img-overlay d-flex">
		          <a href="http://makro.id/dpr-setujui-penambahan-anggaran-bp-batam-rp565-miliar" class="align-self-end">
		        	<span class="badge">Pertumbuhan Ekonomi</span> 
		            <h6 class="card-title">DPR Setujui Penambahan Anggaran BP Batam Rp565 Miliar</h6>
		          </a>
		        </div>
		      	</div>
			</div>
					</div>
	</div>
</div>


<script>
  $(document).ready(function(){
      $(".linkfeat").hover(
        function () {
            $(".textfeat").show(500);
        },
        function () {
            $(".textfeat").hide(500);
        }
    );
});
  
</script>


<hr>


        
 <div class="card-group">
    <div class="container">
     <div class="card-deck">
        <div class="album text-muted">
          
              <div class="row">
                  
                 <% @mastercares.each do |mastercare| %>
                 <div class="col-sm-2 col-md-2 col-offset-1">
                 <div class="card card mb-3 style="max-width: 8rem;">
                   <a href="<%= mastercare_path(mastercare) %>"><%= link_to image_tag  mastercare.image_url, class: "img-responsive img-thumbnail",  class: "h-75 d-inline-block", class: "w-75 p-3" %></a>
                   <div class="row">
                     <div class="col">
                     <h6><p class=" price card-header text-center"><%= mastercare.name %></p><h6>
                     <h6><p class=" price card-header text-center"><%= mastercare.price %></p></h6>
                    <!--<h5><p class="blockquote mb-0 text-center"><%= mastercare.description %></p></h5>-->
                  <h6> <p class="h6"><%= link_to 'Details', mastercare, :class=>"btn btn-primary btn-block" %></p></h6>
                  </div>
                 </div>
               </div>
             </div>
            <% end %>
          </div>
       </div>
     </div>
    </div>
   </div>
  </div>            
 
        

<p id="notice"><%= notice %></p>

<h1>Mastercares</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Courses</th>
      <th>Price</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mastercares.each do |mastercare| %>
      <tr>
        <td><%= mastercare.name %></td>
        <td><%= mastercare.courses %></td>
        <td><%= mastercare.price %></td>
        <td><%= mastercare.description %></td>
        <td><%= mastercare.image_url %></td>
        <td><%= mastercare.category %></td>
        <td><%= link_to 'Show', mastercare %></td>
        <td><%= link_to 'Edit', edit_mastercare_path(mastercare) %></td>
        <td><%= link_to 'Destroy', mastercare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mastercare', new_mastercare_path %>
