<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mastercare.name %>
</p>

<p>
  <strong>Courses:</strong>
  <%= @mastercare.courses %>
</p>

<p>
  <strong>Price:</strong>
  <%= @mastercare.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mastercare.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @mastercare.image_url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @mastercare.category %>
</p>

<%= link_to 'Edit', edit_mastercare_path(@mastercare) %> |
<%= link_to 'Back', mastercares_path %>
