

<!-- 1ist container -->
<div class='container'>
  <hr>
 <h5 class="text-center mb-30", id="introword"> Products are Delivered to Customers' Door Steps!</h5>
 <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/akobeshops/trademark_registration.PNG" alt="Category"></div>
                 
                </div></a>
              <div class="text-center">
                 <div class="blockquote">by <cite>Trademark Registration</cite></div>
                <p class="text-muted"> Starting from N55,000</p> <%= link_to 'View Details', marketplaces_path, class: "" %>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/ecoimages/luminous-1500va-24v-solar-hybrid-inverter.jpg" , class: "h-60 d-inline-block", alt="Category"></div>
                
                </div></a>
              <div class="text-center">
                <div class="blockquote">by <cite>Solarworks</cite></div>
                <p class="text-muted">Starting from N85,000</p> <%= link_to 'View Details', solarworks_path, class: "" %>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/hp/HP+240+G6+4WV73ES.jpg" alt="Category"></div>
                 
                </div></a>
              <div class=" text-center">
               <div class="blockquote">by <cite>D-Computers</cite></div>
                <p class="text-muted">Starting from N65,000</p> <%= link_to 'View Details', dreamscomputers_path, class: "" %>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/akobeproperties/1.png" alt="Category"></div>
                 
                </div></a>
              <div class=" text-center">
                 <div class="blockquote">by <cite>Ade Apartments</cite></div>
                <p class="text-muted">Starting from N5 Million</p> <%= link_to 'View Details', adeapartments_path, class: "" %>
              </div>
            </div>
        </div>
        
 <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/cap+rice.jpg" alt="Category"></div>
                 
                </div></a>
              <div class="text-center">
                 <div class="blockquote">by <cite>Emeka Gloceries</cite></div>
                <p class="text-muted">Coming Soon</p> <%= link_to 'View Details', home_index_path, class: "" %>
              </div>
            </div>
          </div> 
           <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/phones.jpg" alt="Category"></div>
                 
                </div></a>
              <div class="text-center">
                 <div class="blockquote">by <cite>XComs Phones</cite></div>
               <h6></h6> <p class="text-muted">Coming Soon</p> <%= link_to 'View Details', home_index_path, class: "" %> </h6>
              </div>
            </div>
</div>
<hr>


<div class='container'>
  
 <h5 class="text-center mb-30", id="introword">List Your Shop Here and Make Amazing Returns!</h5>
 <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/partners/one-day+tailor.png" alt="Category"></div>
                 
                </div></a>
              <div class="text-center">
                <div class="blockquote">by <cite>1-Day Tailor</cite></div>
                <p class="text-muted">Starting from 2,500</p> <%= link_to 'View Details', home_index_path, class: "" %>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/hp/HP+240+G6+4WV73ES.jpg" , class: "h-60 d-inline-block", alt="Category"></div>
                
                </div></a>
              <div class="text-center">
                 <div class="blockquote">by <cite>D-Computers</cite></div>
                <p class="text-muted">Starting from N65,000.00</p> <%= link_to 'View Details', dreamscomputers_path, class: "" %>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/partners/Ronix+Auto+Fix.png" alt="Category"></div>
                 
                </div></a>
              <div class=" text-center">
               <div class="blockquote">by <cite>Ronis Auto Mechanic</cite></div>
                <p class="text-muted">Generous Rates and Charges</p> <%= link_to 'View Details', home_index_path, class: "" %>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/ecoimages/luminous-1500va-24v-solar-hybrid-inverter.jpg" alt="Category"></div>
                 
                </div></a>
              <div class=" text-center">
                <div class="blockquote">by <cite>SolarWorks</cite></div>
                <p class="text-muted">Starting from N85,000</p> <%= link_to 'View Details', solarworks_path, class: "" %>
              </div>
            </div>
        </div>
        
 <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/tvs/1.TVS.jpg" alt="Category"></div>
                 
                </div></a>
              <div class="text-center">
                 <div class="blockquote">by <cite>Tony Cycles  </cite></div>
                <p class="text-muted">Starting from N700,000</p> <%= link_to 'View Details', tonycycles_path, class: "" %>
              </div>
            </div>
          </div> 
           <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/partners/devon+kings+oil.png" , class: "h-10 d-inline-block" alt="Category"></div>
                 
                </div></a>
              <div class="text-center">
              <div class="blockquote">by <cite>Ife Groceries</cite></div>
                <p class="text-muted">Coming Soon</p> <%= link_to 'View Details', home_index_path, class: "" %>
              </div>
            </div>
      </div>
      

<!-- 1ist container -->
<div class='container'>
  <hr>
 <h5 class="text-center mb-30", id="introword"> Products are Delivered to Customers' Door Steps!</h5>
 <div class="row">
          <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/akobeshops/trademark_registration.PNG" alt="Category"></div>
                 
                </div></a>
              <div class="text-center">
                 <div class="blockquote">by <cite>Trademark Registration</cite></div>
                <p class="text-muted"> Starting from N55,000</p> <%= link_to 'View Details', marketplaces_path, class: "" %>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/partners/Pepper-Grinder.jpg" , class: "h-60 d-inline-block", alt="Category"></div>
                
                </div></a>
              <div class="text-center">
                <div class="blockquote">by <cite>ROFI Equipment</cite></div>
                <p class="text-muted">Starting from N270,000</p> <%= link_to 'View Details', rofimachines_path, class: "" %>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/webdevelopers.png" alt="Category"></div>
                 
                </div></a>
              <div class=" text-center">
               <div class="blockquote">by <cite>HSH Web Developers</cite></div>
                <p class="text-muted">N30,000</p> <%= link_to 'View Details', home_index_path, class: "" %>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/akobeproperties/1.png" alt="Category"></div>
                 
                </div></a>
              <div class=" text-center">
                 <div class="blockquote">by <cite>MBI Africa</cite></div>
                <p class="text-muted">Starting from N5 Million</p> <%= link_to 'View Details', marketplaces_path, class: "" %>
              </div>
            </div>
        </div>
        
 <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/cap+rice.jpg" alt="Category"></div>
                 
                </div></a>
              <div class="text-center">
                 <div class="blockquote">by <cite>Emeka Gloceries</cite></div>
                <p class="text-muted">Coming Soon</p> <%= link_to 'View Details', home_index_path, class: "" %>
              </div>
            </div>
          </div> 
           <div class="col-md-2 col-sm-3">
            <div class="card mb-15"><a class="card-img-tiles" href="">
                <div class="inner">
                  <div class="main-img"><img src="https://s3.us-east-2.amazonaws.com/babanla/assets/phones.jpg" alt="Category"></div>
                 
                </div></a>
              <div class="text-center">
                 <div class="blockquote">by <cite>Xcoms Phones</cite></div>
               <h6></h6> <p class="text-muted">Starting from N2,500</p> <%= link_to 'View Details', home_index_path, class: "" %> </h6>
              </div>
            </div>
            
            <hr>
            
            <br>
</div>
<hr>