<p id="notice"><%= notice %></p>

<h1>Infinixphones</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Colour</th>
      <th>Price</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Number</th>
      <th>Vendor</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @infinixphones.each do |infinixphone| %>
      <tr>
        <td><%= infinixphone.name %></td>
        <td><%= infinixphone.model %></td>
        <td><%= infinixphone.colour %></td>
        <td><%= infinixphone.price %></td>
        <td><%= infinixphone.description %></td>
        <td><%= infinixphone.image_url %></td>
        <td><%= infinixphone.number %></td>
        <td><%= infinixphone.vendor %></td>
        <td><%= infinixphone.category %></td>
        <td><%= link_to 'Show', infinixphone %></td>
        <td><%= link_to 'Edit', edit_infinixphone_path(infinixphone) %></td>
        <td><%= link_to 'Destroy', infinixphone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Infinixphone', new_infinixphone_path %>
