<!-- app/views/home/_contact_form.html.erb -->
<br>

<div class="col-md-6" id="flash-message">
    <%= render 'flash' %>
  </div>
  
<%= form_for @contact, url: home_index_path, remote: true do |f| %>

    <div class="col-md-12">
        <h1 class="text-sm-center"class="text-center" style="font-weight:light; font-style:italic; font-size: 2vw"> Describe your project or ask for a quotation</h1>
        <%= f.label :name, class: "form-label" %></br>
        <%= f.text_field  :name, required: true, class: "contact-form-text-area;" , class: "form-control", id: "contactform1", placeholder: "Give your project a name e.g I need 10 plumbers or 5 laptops"%></br>

        <%= f.label :email, class: "form-label" %></br>
        <%= f.text_field :email, required: true, class: "contact-form-text-area", class: "form-control", id: "contactform1" %></br>

      <%= f.label :message , class: "form-label"%></br>
      <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area",
                        placeholder: "Please describe your project here e.g I need a mechanic at Ajah Lagos or build me a website now or I need 10 brick layers or I want to buy Emel Industrial sewing machine", class: "form-control", id: "contactform1"%></br>

      <div class= "hidden">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
      </div>
      
      <%= invisible_captcha %>
 
      <%= f.submit 'Send Message', class: 'btn btn-primary' %>
    </div>
  <% end %>
  


















<br>
<br>
<br>
<br>
<br>
<hr>









<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <%#= form_for @contact, url: home_index_path, remote: true do |f| %>-->
    <!--<div class="col-md-6">-->
<!--        <%#= f.label :name %></br>-->
<!--        <%#= f.text_field  :name, required: true, class: "contact-form-text-area" %></br>-->

<!--        <%#= f.label :email %></br>-->
<!--        <%#= f.text_field :email, required: true, class: "contact-form-text-area" %></br>-->

<!--      <%#= f.label :message %></br>-->
<!--      <%#= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area",-->
<!--                        placeholder: "Send a message to Glenn."%></br>-->

<!--      <div class= "hidden">-->
<!--        <%#= f.label :nickname %>-->
<!--        <%#= f.text_field :nickname, :hint => 'Leave this field blank!' %>-->
<!--      </div>-->

<!--      <%#= f.submit 'Send Message', class: 'btn btn-primary' %>-->
    <!--</div>-->
<!--  <%# end %>-->
<!--  <div class="col-md-6" id="flash-message">-->
<!--    <%#= render 'flash' %>-->
<!--  </div>-->
      
<!--    </div>-->
<!--    <div class="col-12 col-sm-4">-->
<!--      <div class="card bg-light mb-3">-->
                <!--<div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Address</div>-->
                <!--<div class="card-body">-->
                <!--    <p>3 rue des Champs Elysées</p>-->
                <!--    <p>75008 PARIS</p>-->
                <!--    <p>France</p>-->
                <!--    <p>Email : email@example.com</p>-->
                <!--    <p>Tel. +33 12 56 11 51 84</p>-->

                <!--</div>-->

      
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



