<p id="notice"><%= notice %></p>

<h1>Adeapartments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Price</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adeapartments.each do |adeapartment| %>
      <tr>
        <td><%= adeapartment.name %></td>
        <td><%= adeapartment.address %></td>
        <td><%= adeapartment.price %></td>
        <td><%= adeapartment.description %></td>
        <td><%= adeapartment.image_url %></td>
        <td><%= adeapartment.category %></td>
        <td><%= link_to 'Show', adeapartment %></td>
        <td><%= link_to 'Edit', edit_adeapartment_path(adeapartment) %></td>
        <td><%= link_to 'Destroy', adeapartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adeapartment', new_adeapartment_path %>
