<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @intelxphone.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @intelxphone.model %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @intelxphone.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @intelxphone.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @intelxphone.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @intelxphone.image_url %>
</p>

<p>
  <strong>Number:</strong>
  <%= @intelxphone.number %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @intelxphone.vendor %>
</p>

<p>
  <strong>Category:</strong>
  <%= @intelxphone.category %>
</p>

<%= link_to 'Edit', edit_intelxphone_path(@intelxphone) %> |
<%= link_to 'Back', intelxphones_path %>
