<script src="https://www.google.com/recaptcha/api.js" async defer></script>
     <script>
       function onSubmit(token) {
         document.getElementById("demo-form").submit();
       }
     </script>
     <br><br>
<br>

<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Delete</th>
							<th style="width:10%">Checkout</th>
						</tr>
					</thead>
					<tbody>
				 <% @items.each do |item| %>
						<tr>
							<td data-th="Product">
								<div class="row">
								<div class="col-sm-2 hidden-xs"></div>
									<div class="col-sm-10">
									 
									  
										<h4 class="nomargin"><%= item.product.title %></h4>
										
									</div>
								</div>
							</td>
							<td data-th="Price">₦<%= item.price %></td>
							<td data-th="Quantity">
								<%= item.quantity %>
							</td>
						
							 <form id='demo-form' action="?" method="POST">
      <button class="g-recaptcha" data-sitekey="6LcL66IUAAAAAA_kQHU1997bGbxO1TkNATWk5jqj" data-callback='onSubmit'></button>
      <br/>
    </form>
							
							
						</tr>
					</tbody>
					<tfoot>
					
						<tr>
							<td><%= link_to "Continue Shopping", root_path, id: "prov", class: "btn btn-primary" %>
							</td>
							<td colspan="2" class="hidden-xs"></td>
							 
							<td class="text-center"><strong><%= form_for item, method: :delete do |f| %>
            <%= f.submit "Remove", class: "btn btn-secondary" %>
          <% end %></strong></td>
							<td>	<%= link_to 'Checkout', checkout_path, class:'btn btn-warning btn-block' %></td>
						</tr>
						<% end %>
					</tfoot>
				
				</table>
				
</div>





<script>
	grecaptcha.execute();
</script>