 <div class="card-group">
    <div class="container">
     <div class="card-deck">
        <div class="album text-muted">
          
              <div class="row">
                 <% @newhplaptops.each do |newhplaptop| %>
                  <div class="col-sm-3 col-md-3">
                 <div class="card card mb-3 style="max-width: 8rem;", class: "mx-auto d-block">
                  <a href="<%= newhplaptop_path(newhplaptop) %>"><%= image_tag  newhplaptop.image_url,class: "mx-auto d-block", class: "img-responsive img-thumbnail", class: "h-75 d-inline-block", class: "w-75 p-3" %></a></a>
                   
                   <div class="row">
                     <div class="col">
                     <h6><p class=" price card-header text-center"><%= newhplaptop.name %></p></h6>
                    
                     <h6><p class=" price card-header text-center"><%= newhplaptop.price %></p></h6>
                   
                  <h6> <p class="h6"><%= link_to 'Details', newhplaptop, :class=>"btn btn-primary btn-block" %></p</h6>
                  </div>
                 </div>
               </div>
             </div>
            <% end %>
          </div>
       </div>
     </div>
    </div>
   </div>
  </div>

