<%= form_with(model: tonycycle, local: true) do |form| %>
  <% if tonycycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tonycycle.errors.count, "error") %> prohibited this tonycycle from being saved:</h2>

      <ul>
      <% tonycycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.date_select :year %>
  </div>

  <div class="field">
    <%= form.label :gear_type %>
    <%= form.text_field :gear_type %>
  </div>

  <div class="field">
    <%= form.label :number_of_wheels %>
    <%= form.number_field :number_of_wheels %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :purchased %>
    <%= form.check_box :purchased %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
