<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @tonycycle.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @tonycycle.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @tonycycle.year %>
</p>

<p>
  <strong>Gear type:</strong>
  <%= @tonycycle.gear_type %>
</p>

<p>
  <strong>Number of wheels:</strong>
  <%= @tonycycle.number_of_wheels %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tonycycle.price %>
</p>

<p>
  <strong>Purchased:</strong>
  <%= @tonycycle.purchased %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @tonycycle.image_url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tonycycle.category %>
</p>

<%= link_to 'Edit', edit_tonycycle_path(@tonycycle) %> |
<%= link_to 'Back', tonycycles_path %>
