<!--<div class="container">-->

<!-- <div class="card-group">-->
<!--    <div class="container">-->
<!--     <div class="card-deck">-->
<!--        <div class="album text-muted">-->
          
<!--              <div class="row">-->
<!--                <div class="col d-flex justify-content-center">-->
<!--                 <% @adeapartments.each do |adeapartment| %>-->
<!--                 <div class="card card mb-3 style="max-width: 8rem;">-->
<!--                    <a href="<%= adeapartment_path(adeapartment) %>"><%= image_tag  adeapartment.image_url, class: "img-responsive img-thumbnail",  class: "h-75 d-inline-block", class: "w-75 p-3" %></a>-->
<!--                   <div class="row">-->
<!--                     <div class="col">-->
<!--                     <h6><p class=" price card-header text-center"><%= adeapartment.name %></p></h6>-->
<!--                     <h6><p class=" price card-header text-center"><%= adeapartment.price %></p></h6>-->
                   
<!--                  <h6> <p class="h6"><%= link_to 'Details', adeapartment, :class=>"btn btn-primary btn-block" %></p></h6>-->
<!--                 </div>-->
<!--               </div>-->
<!--             </div>-->
<!--            <% end %>-->
<!--            </div>-->
<!--          </div>-->
<!--       </div>-->
<!--     </div>-->
<!--    </d-->