<div class='container' style="position:relative" id='pulldown'>
  <%= form_with(model: Contact.new, local: true)  do |form| %>
  

  <div class="form-group">
   
    <%= form.text_field :first_name,  autofocus: true, autocomplete: "First Name", placeholder: 'First Name', class: "form-control" %>
  </div>

  <div class="form-group">
  
    <%= form.text_field :last_name,  autofocus: true, autocomplete: "Last Name", placeholder: 'Last Name', class: "form-control" %>
  </div>

  <div class="form-group">
 
    <%= form.text_field :email_address,  autofocus: true, autocomplete: "email", placeholder: 'email', class: "form-control" %>
  </div>

  <div class="form-group">
  
    <%= form.text_field :phone_number,  autofocus: true, autocomplete: "Your Phone Number", placeholder: 'Your Phone Number', class: "form-control" %>
  </div>

  <div class="form-group">
  
    <%= form.text_area :body,  autofocus: true, autocomplete: "Order Details", placeholder: 'Order Details', class: "form-control" %>
  </div>

  <div class="form-group">
    <div class="form-group honeypot">
    <%= label_tag :content %>
    <%= text_field_tag :content, nil, tabindex: '-1' %>
    <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

  
</div>

