<!DOCTYPE html>
<html>
  <head>
    <title>Titun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title> Akobe Limited - <%= content_for?(:title) ? yield(:title) : 'Online Retails Store that offers Best Quality for the Best Price and also Give Cash Back to the Customers' %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
 <script src="https://www.google.com/recaptcha/api.js"  async defer></script>
 <meta name='description'
      content='<%= yield_meta_tag(:description, 'Online Retails Store that offers Best Quality for the Best Price and also Give Cash Back to the Customers') %>' />
<meta name='keywords'
      content='<%= yield_meta_tag(:keywords, 'Electronics, Foods, Vehicles, Services, Gloceries, Web Technologies, Clothes, Sola Panels, Inverter Batteries, Auto Mechanic, Research') %>' />

 <!--<title>-->
 <!--    <%#= if content_for?(:title) then yield(:title) + ' | ' end %>-->
 <!--     Akobe Limited-->
 <!--    </title>-->
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9509071305290324",
    enable_page_level_ads: true
  });
</script>


</head>

<body>
    
   
    
   
    
    <div class='container'>
        <p>
       <%= link_to "Categories", categories_path%>
      <!--<%#= link_to pluralize(current_cart.items_count, 'item'), cart_path %>-->
   </p>
         <%= render 'layouts/header' %>
    <%= render 'layouts/noticefication' %>
    <%= yield  %>
   
    </div>
    
  </body>
 
</html>
  <%= render 'layouts/footer' %>
